body {
  font-family: Arial;
}

#mapid {
	position: absolute;
	top: 30%;
	bottom: 0;
	left: 0;
	width: 55%;
}





#infracciones{
	height: 300px;
  	width: 100%;
	position: relative;
}



#formulario-infraccion{
	height: 50px;
  	width: 100%;
	position: relative;
}
 